<h1>Страницы</h1>
<br />
<br />
<table>
  <tr>
    <th>№</th>
    <th>Имя</th>
    <th>Ссылка</th>
    <th>Язык</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contents.each do |content| %>
  <tr>
    <td><%= content.id %></td>
    <td><%= content.name %></td>
    <td><%= content.link %></td>
    <td><%= content.lang %></td>
    <td><%= link_to 'Show', content %></td>
    <td><%= link_to 'Edit', edit_content_path(content) %></td>
    <td><%= link_to 'Destroy', content, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Content', new_content_path %>
