<!DOCTYPE html>
<html>
<head>
  <title>Фото студия IKRA | <%= @title %> </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "contents.css" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-1.7.2.min.js" %>
  <%= csrf_meta_tags %>
  <%
	MarkItUp.buttons = MarkItUp.default_buttons
	MarkItUp.replace_button(14, { :name => 'Image', :icon => "image", :key => 'P', :replaceWith => '<img src="/path" alt="" />' })
	MarkItUp.insert_button(17, { :separator => '---------------' })
	MarkItUp.delete_button(3)
	MarkItUp.delete_button("Bold")
  %>
  <%= mark_it_up '#miu_test' %>
</head>
<body>
	
		
		<% if session[:user_id]%>
			<%= button_to 'Logout', logout_path, mehod: :delete %><br />
			<center>
			<%= yield %><br><br>
			</center>			
		<% end %>	
		
		
</body>
</html>
