<html>
<head>
	<title>Фото студия IKRA</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="/scripts/jquery.js"></script>
	<script type="text/javascript" src="/scripts/jScrollPane.js"></script>
	<script type="text/javascript" src="/scripts/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="/scripts/jquery.lightbox-0.5.js"></script>	

	<link rel="stylesheet" href="/styles/style.css" type="text/css">
	<link rel="stylesheet" type="text/css" media="all" href="/styles/jScrollPane.css">
	<link rel="stylesheet" type="text/css" href="/styles/jquery.lightbox-0.5.css" media="screen"/>
	<%= csrf_meta_tags %>
	<%
		MarkItUp.buttons = MarkItUp.default_buttons
		MarkItUp.replace_button(14, { :name => 'Image', :icon => "image", :key => 'P', :replaceWith => '<img src="/path" alt="" />' })
		MarkItUp.insert_button(17, { :separator => '---------------' })
	%>
	<%= mark_it_up '#miu_test' %>

	<script type="text/javascript">
	$(function()
	{
		$('#pane3').jScrollPane();
	});
	$(function() 
	{
		$('#pane3 a').lightBox({fixedNavigation:true});
	});
	</script>
</head>
<body>
<div class="main">
    <div class="lang-bar">
    	<div class="lang-content">
			<a href="http://ikra-studio.com.ua/pages/changelang_ru"><img src="/images/ru_.gif" alt="ru" border="0"></img></a>
			<a href="http://ikra-studio.com.ua/pages/changelang_en"><img src="/images/en_.gif" alt="en" border="0"></img></a>
    	</div>
    </div>
    <div class="header"><a href="http://ikra-studio.com.ua/"><img src="/images/logo.jpg" alt="IKRA" border="0"></img></a></div>
    <div class="left col1">
    	<div class="jScrollPaneContainer jScrollPaneScrollable" tabindex="0" style="width: 660px; " >
    	    <div id="pane3">
			<%= yield %>
	    </div>
	</div>
		
    </div>
    <div class="col2"><img src="/images/me.jpg" alt="Фото студия IKRA" border="0"></img></div>
    <div class="hFooter"></div>
</div>
<%if (session[:lang] == "RU") then %>
	<% @pred = "Предметная съемка" %>
	<% @styd = "Студийная съемка"%>
        <% @rep = "Репортажная съемка"%>
	<% @inter = "Съемка интерьера"%>
        <% @port = "Портфолио"%>
	<% @price = "Цены"%>
        <% @art = "Статьи"%>
<%else%>
	<% @pred = "Shooting subjects" %>
        <% @styd = "Shooting in studio"%>
	<% @rep = "Reportage photography"%>
        <% @inter = "Interiours photography"%>
	<% @port = "Portfolio"%>
        <% @price = "Prices"%>
	<% @art = "Photo articles"%>
<% end %>
<div class="footer">
	<div class="menu">
		<div class="menu-bar">
			<ul>
			    <li><%=link_to( @pred,"/pages/predphoto?link=prph")%></li>
			    <li><%=link_to( @styd,"/pages/studphoto?link=stph")%></li>
			    <li><%=link_to( @rep,"/pages/reportphoto?link=reph")%></li>
			    <li><%=link_to( @inter,"/pages/interphoto?link=intph")%></li>
			    <li><%=link_to( @port,"/pages/portfolio?link=prtf")%></li>
			    <li><%=link_to( @price,"/pages/price?link=price")%></li>
			    <li><%=link_to( @art,"/pages/articles?link=arts")%></li>
 			</ul>
		</div>
	</div>

	<div class="hline"></div>
	<div class="f">© IKRA-STUDIO, 2012. Разработка сайта <a href="http://citrusdev.com.ua/"><b>CitrusDev</b></a></div>
</div>

</body>
</html>
